<%- include('include/_header')%>

    <div id="main">
      <div class="left-column">
        <button type="button" onclick="user()">DONOR'S PAGE</button>
          <br><br>
      </div>
      <div class="right-column">
        <button type="button" onclick="hospital()">HOSPITAL'S PAGE</button>
      </div>
    </div>
  <hr>

<%- include('include/_footer')%>
