<%- include('include/_header')%>

<div id="main">
  <div class="left-column">
    <a href="/user">DONOR'S PAGE</a>
    <br><br>
  </div>
  <div class="right-column">
    <a href="/hospital">HOSPITAL'S PAGE</a>
  </div>
</div>
<hr>
<a href="/patient">REQUEST BLOOD</a>
<hr>
<hr>

<%- include('include/_footer')%>
