<%- include('include/_header')%>

<div id="main">
    <div class="left-column">
      <form method="post">
        <label for="fname">NAME(S) :</label>
        <input type="text" required="Yes" id="fname">
        <br><br>
        <label for="lname">BLOOD TYPE :</label>
        <input type="text" required="Yes" id="type">
        <br><br>
      </form>
    </div>
    <div class="right-column">
      <form>
        <label for="flocation">LOCATION :</label>
        <input type="text" required="Yes" id="flocation">
        <br><br>
        <label for="lname">TEL. NUMBER :</label>
        <input type="number" required="Yes" id="tel">
        <br>
      </form>
    </div>
  </div>

  <button id="myBtn" type="button">SIGN UP</button>
  <hr>

  <div id="display">
    <button type="button" onclick="home()">Back Home</button><br><br>
  </div>

  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>

      <div id="main1">
        <div class="left-column">
          <img src="../images/images.jpeg" height="140px">
        </div>
        <div class="right-column">
          <h1><strong>WELCOME</strong></h1>
          <p>Blood Transfusion Website</p>
          <p>P.O BOX 326, Nairobi</p>
        </div>
      </div>
      <hr>
      <div id="display">
        <h4>DATE: <p id="ldate" style="font-weight: 1000;"></p></h4>
        <h4>NAME: <p id="name" style="font-weight: 1000;"></p></h4>
        <h4>BLOOD TYPE: <p id="ltype" style="font-weight: 1000;"></p></h4>
        <h4>TELEPHONE NO. : <p id="ltel" style="font-weight: 1000;"></p></h4>
      </div>
      <hr>

      <div id="home">
        <button type="button" style="background-color: purple;">Verify</button><br>
      </div>
    </div>

    <script>
      // Get the modal
      var modal = document.getElementById("myModal");

      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks the button, open the modal
      btn.onclick = function() {

        modal.style.display = "block";

        document.getElementById("ldate").innerHTML = document.getElementById("flocation").value;
        document.getElementById("name").innerHTML = document.getElementById("fname").value;
        document.getElementById('ltype').innerHTML = document.getElementById('type').value;
        document.getElementById("ltel").innerHTML = document.getElementById("tel").value;

      }


      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>

<%- include('include/_footer')%>
