<form action="/api/hospitals" method="POST" id="new_hospital">
    <label for="search">SEARCH LOCATION :</label>
    <input type="text" required="Yes" name="search">
    <br><br>
    <button type="submit">SEARCH</button>
    <br><br>
    <a href="/">HOME</a>
</form>
