<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>HOME</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- external files linking -->
  <link rel="stylesheet" href="/css/styles.css" rel="stylesheet" />
</head>

<header>
  <div id="main">
    <div class="left-column">
      <img src="/img/index.png" height="200px">
    </div>
    <div class="right-column">
      <h1><strong>BLOOD TRANSFUSION</strong></h1>
      <p>LIMITED COMPANY</p>
      <p>P.O BOX 326, Nairobi</p>
    </div>
  </div>
  <hr>
</header>

<body>