<form action="/api/hospitals" method="POST" id="new_hospital">
  <form method="post">
    <label for="fname">HOSPITAL NAME :</label>
    <input type="text" required="Yes" name="fname">
    <br><br>
    <label for="flocation">LOCATION :</label>
    <input type="text" required="Yes" name="flocation">
    <br><br>
    <label for="fdate">DATE :</label>
    <input type="date" required="Yes" name="fdate">
    <br><br>
    <label for="ftelephone">CONTACT TELEPHONE :</label>
    <input type="number" required="Yes" name="ftelephone">
    <br><br>
    <button type="submit">SAVE DATA</button>
    <a href="/new_hospital">REGISTERED HOSPITALS</a>
    <a href="/">HOME</a>
</form>
