<form action="/api/patients" method="POST" id="new_patient">
  <label for="ffname">NAME(S) :</label>
  <input type="text" required="Yes" name="yname">
  <br><br>
  <label for="flname">BLOOD TYPE :</label>
  <input type="text" required="Yes" name="ytype">
  <br><br>
  <label for="fflocation">LOCATION :</label>
  <input type="text" required="Yes" name="ylocation">
  <br><br>
  <label for="flname">TEL. NUMBER :</label>
  <input type="number" required="Yes" name="ytelephone">
  <br><br>
  <button type="submit">REQUEST BLOOD</button>
</form>

<hr>
<a href="/new_patient">FIND DONOR</a><br><br>
<a href="/">HOME</a>
