<form action="/api/users" method="POST" id="new_user">
  <label for="fname">NAME(S) :</label>
  <input type="text" required="Yes" name="name">
  <br><br>
  <label for="lname">BLOOD TYPE :</label>
  <input type="text" required="Yes" name="type">
  <br><br>
  <label for="flocation">LOCATION :</label>
  <input type="text" required="Yes" name="location">
  <br><br>
  <label for="lname">TEL. NUMBER :</label>
  <input type="number" required="Yes" name="telephone">
  <br><br>
  <button type="submit">SIGN UP</button>
  <a href="/new_user">REGISTERED DONORS</a>
  <a href="/">HOME</a>
</form>
