<form action="/" method="POST" id="add_user">
  <label for="fname">NAME(S) :</label>
  <input type="text" required="Yes" name="fname">
  <br><br>
  <label for="lname">BLOOD TYPE :</label>
  <input type="text" required="Yes" name="type">
  <br><br>
  <label for="flocation">LOCATION :</label>
  <input type="text" required="Yes" name="flocation">
  <br><br>
  <label for="lname">TEL. NUMBER :</label>
  <input type="number" required="Yes" name="tel">
  <br><br>
</form>
