#main{
  width:50%;
  height:25vh;
  background-color: white;
}
.left-column{
  float:left;
  width: 150%;
}
.right-column{
  float:right;
  width: 50%;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

button {
  background-color: #00FF00; /* Green */
  border: none;
  color: white;
  padding: 70px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
p{
  font-size: 150%;
  color: black;
}

#main{
    width:50%;
    height:25vh;
  }
#main1{
  width: 50%;
  height: 30vh;
}
.left-column{
  float:left;
  width:100px;
  padding-left: 5%;
}
.right-column{
  float:right;
  width: 50%;
  padding-left: 5%;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
hr {
  border-color:black;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color: green;
}
p{
  font-size: 150%;
}

table{
  border-spacing: 100px;
  width:10%;
}

.table td,
.table th{
  padding: 75em;
  vertical-align: top;
  text-align: align;
  border-top:100px;solid
}
